{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PichanGO</title>
    <link rel="shortcut icon" href="{% static "./Images/ball.icon.ico" %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static "./styles.css" %}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="wrapper">
    <div class="w3_baner">  
        <!--header-->
        <header class ="header">
            <figure>
                <img src="{% static "./Images/logosmall.png" %}" alt="logo">
            </figure>
            <!--<nav class="nav-main">
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">COURSES</a></li>
                    <li><a href="#">EVENTS</a></li>
                    <li><a href="#">GALLERY</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li><a class="active" href="login.html">INICIA SESIÓN</a></li>
                </ul>
            </nav>-->
        </header>
        <!--main-->
        <main class= "main">  
            <p>Próximas pichangas en las que te puedes unir</p>
            <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">Cancha</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Plazas disponibles</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in data.all %}
                    <tr>
                        <th scope="row"><a href="#">{{ item.cancha }}</a></th>
                        <td><a href="#">{{ item.fecha }}</a></td>
                        <td><a href="#">{{ item.hora }}</a></td>
                        <td>Aún hay vacantes</td>
                    </tr>
                    {%  endfor   %}
                </tbody>
              </table>
              

                    <div class="search">
                            <input type="text" class="searchTerm" placeholder="Distrito o nombre de cancha">
                            <input type="submit" name="submit" class="submit" value="Buscar"></input>
                    </div>

                    <P>en cualquier momento, en cualquier lugar </P>

                <div class="form">
                    <input type="submit" name="submit" class="submit-1" onclick="window.location='signup.html';" value="Registrate"></input>
                    <input type="submit" name="submit" class="submit-1" onclick="window.location='login.html';"value="Inicia Sesión"></input>
                </div>

                <div class="row">
                    <div class="column">
                        <h2 id="headline1">Como jugar?</h2>
                        <p id="about-us"> Si eres nuevo en PichanGo! <br> no te preocupes, acá encontrarás toda la información que necesites para empezar a JUGAR!!! </p>
                    </div>
                    <div class="column">
                        <video width="550" height="450" controls>
                            <source src="{% static "./Images/videoplayback.mp4" %}">
                        </video>
                    </div>
                </div>
        </section>
        </main>
  
        <!--footer-->
        <footer class="footer">

            <p>Copyrtight &copy; 2020, pichanGO  </p>
        </footer>

    </div>
    </div>

</body>
</html>